{% extends "base.html" %}
{% block title %}Пост: @{{ author.username }} {% endblock %}
{% block header %}Пост: @{{ author.username }} {% endblock %}
{% block content %}
  {% load thumbnail %}
  <main role="main" class="container">
    <div class="row">
      {% include 'posts/../../../templates/includes/base_profile.html' with author=author %}
      <div class="col-md-9">
        {% include "posts/../../../templates/includes/post_item.html" with post=post %}
        {% include 'posts/../../../templates/includes/comments.html' %}
      </div>
    </div>
  </main>
{% endblock %}
