{% extends "base.html" %}
{% block title %}Профиль: @{{ author.username }} {% endblock %}
{% block header %}Профиль: @{{ author.username }}{% endblock %}

{% block content %}
    {% load thumbnail %}
  <main role="main" class="container">
  <div class="row">
  {% include 'posts/includes/base_profile.html' with author=author %}
    <div class="col-md-9">
      {% if messages %}
        {% for message in messages %}
          <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
      {% endif %}
      {% for post in page %}
        {% include "posts/includes/post_item.html" with post=post %}
      {% endfor %}
    </div>
  </div>
  </main>
  {% if page.has_other_pages %}
    {% include 'includes/pagination.html' %}
  {% endif %}
{% endblock %}